.report-card {
  /* width: 18rem; */
  width: 100%;
  min-height: 178px;
}

.report-card .card-body {
  display: flex;
}

.report-card .card-text {
  display: flex;
  padding: 5px 26px;
}

.report-card .align-card-text {
  display: flex;
  flex-direction: column;
  min-width: 90px;
}

.report-card .align-card-text .section {
  display: flex;
  flex-direction: column;
}

.report-card .align-card-text .section span{
  display: flex;
  justify-content: center;
}

.report-card .align-card-text:first-child .section span{
  display: flex;
  justify-content: start;
  min-height: 29px;
}

.report-card .align-card-text .section:first-child {
  /* width: 40%; */
  margin-bottom: 15px;
}

.report-card .card-header {
  background-color: rgb(191, 98, 43);
  color: white;
  font-weight: 600;
  display: flex;
}

.report-card .card-header label{
  margin: 0;
}

.report-card .year-month-picker {
  background-color: #bf622b;
  color: #ffffff;
  margin-left: 5px;
  width: 147px;
  font-weight: 600;
  border: solid 1px white;
  border-radius: 2px;
  padding: 0px 6px;
  cursor: pointer;
}