body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f8f9fa;
}

.red-penalty {
  color: red;
}

.redux-toastr .top-right {
  width: 400px !important;
}

.navbar-white {
  background-color: white;
}

.price {
  border: solid 1px #e7e7e7;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #f8f9fa;
  cursor: default;
}

.price:hover {
  background-color: #cccccc;
}

.card {
  width: 18rem;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Boldt'), url(./fonts/Montserrat-Bold.ttf) format('ttf');
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}