body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f8f9fa;
}

.red-penalty {
  color: red;
}

.redux-toastr .top-right {
  width: 400px !important;
}

.navbar-white {
  background-color: white;
}