.align-card-text .card-text{
  display: flex;
  justify-content: space-between;
}

.align-card-text .card-text > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.image-container {
  position: relative;
}

.card-body {
  padding: 0.7rem;
  position: relative;
}

.sticker {
  position: absolute;
  top: 0;
  left: 0;
}

.sticker img {
  width: 60px;
}

.align-card-text .card-text .btn {
  margin-left: 1.25rem;
}

.card-img-top {
  cursor: pointer;
}

.class-letter {
  position: absolute;
  left: 10px;
  top: 5px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
