.buttons-container {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.position-overlay {
  position: absolute;
  top: 34px;
  left: 28px;
}

.estimations .card {
  width: 18rem;
}

.estimations .card-body .card-text p {
  display: flex;
  flex-direction: column;
}

.estimations .align-card-text .card-text {
  justify-content: normal;
}