.report-card {
  width: 18rem;
}

.report-card .align-card-text {
  display: flex;
}

.report-card .align-card-text .section {
  display: flex;
  flex-direction: column;
}

.report-card .align-card-text .section:first-child {
  width: 40%;
}