.card-container {
  height: 175px;
  width: 140px;
  border: solid 0.5px black;
  padding: 6px;
}

.card-container .img-container {
  border: solid 0.5px gray;
}

.card-container .img-container img {
  height: 91px;
  width: 100%;
}

.card-details {
  display: flex;
  font-size: 8px;
  margin-top: 8px;
}

.card-details div {
  display: flex;
  flex-direction: column;
}

.card-details div span {
  margin-bottom: 2px;
  width: 57px;
}

.card-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14%;
}

.card-btn {
  height: 15px;
  width: 50px;
  font-size: 7px;
}